* {
    margin: 0%;
    padding: 0%;
}
html {
    box-sizing: border-box;
}
h1 {
    font-family: "Righteous", cursive;
}
h2 {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size:larger;
}
h3 {
    color: white;
    font-size: medium;
    font-family: "Quicksand", sans-serif;
}
h4 {
    color: white;
    font-size: smaller;
    font-family: "Quicksand", sans-serif;
}
h5 {
    color: black;
    font-family: "Quicksand", sans-serif;
}
p {
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, rgb(247, 205, 37), rgb(245, 163, 39));
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;

    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: black;
    }
    nav {
        ul {
            .active {
                color: rgba(97, 97, 97, 0.624);
            }
            a {
                text-decoration: none;
                color: black;
                margin-right: 1rem;
                border-radius: 0.3rem;
            }
            a:hover {
                color: rgba(116, 116, 116, 0.624);
            }
            li {
                list-style-type: none;
                padding: 0.3rem;
                border-radius: 0.3rem;
                transition: 0.3s;
                font-family: "Quicksand", sans-serif;
            }
            .btn__carrito {
                background-color: rgb(0, 0, 0);
                color: white;
                padding: 0rem 0.5rem;
                span{
                    color: rgb(245, 163, 39);
                }
            }
            .btn__carrito:hover {
                transition: 0.3s;
                color: rgb(167, 167, 167);
            }
        }
    }
}

footer {
    background-color: black;
    p {
        color: white;
        font-family: "Quicksand", sans-serif;
    }
    height: 4rem;
}

.tienda__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(14, 14, 14);
    h2 {
        width: min-content;
        background-color: rgb(245, 204, 39);
        color: black;
        padding: 0rem 0.5rem;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}

.catalogo {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .producto {
        transition: 0.5s;
        background-color: black;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 1rem;
        width: 25%;
        height: 33%;
        margin: 0rem 1rem 2rem 1rem;
        button {
            transition: 0.5s;
            font-family: "Quicksand", sans-serif;
        }
        button:hover {
            transition: 0.5s;
            background-color: black;
            color: rgb(255, 255, 255);
            border-color: rgb(245, 204, 39);
        }
    }
    .producto:hover {
        transition: 0.5s;
        border-color: rgb(245, 204, 39);
    }
}

.input-cantidad{
    width: 10%;
    border-radius: 0.3rem;
}

.barra-busqueda {
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    nav {
        button {
            margin: 0rem 1.3rem;
            background-color: transparent;
            color: white;
            transition: 0.5s;
            border: none;
        }
        button:hover {
            transition: 0.5s;
            background-color: transparent;
            color: rgb(245, 204, 39);
        }
    }
    input {
        margin-right: 1rem;
        font-family: "Quicksand", sans-serif;
        border-radius: 0.25rem;
        padding: 0.2rem;
    }
    .btn-busqueda {
        padding: 0rem 0.5rem;
        font-family: "Quicksand", sans-serif;
    }
    .btn-busqueda ::after {
        box-shadow: none;
    }
}
#carrito-texto{
    background-color: black;
    padding: 1rem 0rem;
    h2{
        margin:0px;
    }


}

/* MODAL CARRITO */
#carritoModal{
    h5{
        font-size:medium;
    }
    img{
        width: 10%;
        
    }
}
.modal-body{
    background-color: rgb(223, 223, 223);
}
.modal-dialog{
    max-width: 600px;
}
.modal-header{
    background-image:  linear-gradient(to right, rgb(247, 205, 37), rgb(245, 163, 39));
}
.modal-footer{
    background-image:  linear-gradient(to right, rgb(247, 205, 37), rgb(245, 163, 39));
    .btn-secondary{
        background-color: rgb(44, 44, 44);
        border-color: rgb(44, 44, 44);
    }
    .btn-primary{
        background-color: black;
        border-color: black;
        color: white;
    }
}
.producto-carrito{
    padding-bottom: 0.5rem;
    border-color: black;
    border-style:groove;
    border-width: 0px 0px 1px 0px;
}
