* {
  margin: 0%;
  padding: 0%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Righteous", cursive;
}

h2 {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: larger;
}

h3 {
  color: white;
  font-size: medium;
  font-family: "Quicksand", sans-serif;
}

h4 {
  color: white;
  font-size: smaller;
  font-family: "Quicksand", sans-serif;
}

h5 {
  color: black;
  font-family: "Quicksand", sans-serif;
}

p {
  margin: 0px;
}

header {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7cd25), to(#f5a327));
  background-image: linear-gradient(to right, #f7cd25, #f5a327);
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: black;
}

header nav ul .active {
  color: rgba(97, 97, 97, 0.624);
}

header nav ul a {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  border-radius: 0.3rem;
}

header nav ul a:hover {
  color: rgba(116, 116, 116, 0.624);
}

header nav ul li {
  list-style-type: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Quicksand", sans-serif;
}

header nav ul .btn__carrito {
  background-color: black;
  color: white;
  padding: 0rem 0.5rem;
}

header nav ul .btn__carrito span {
  color: #f5a327;
}

header nav ul .btn__carrito:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #a7a7a7;
}

footer {
  background-color: black;
  height: 4rem;
}

footer p {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.tienda__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0e0e0e;
}

.tienda__titulo h2 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #f5cc27;
  color: black;
  padding: 0rem 0.5rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.catalogo {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalogo .producto {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 1rem;
  width: 25%;
  height: 33%;
  margin: 0rem 1rem 2rem 1rem;
}

.catalogo .producto button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Quicksand", sans-serif;
}

.catalogo .producto button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
  color: white;
  border-color: #f5cc27;
}

.catalogo .producto:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-color: #f5cc27;
}

.input-cantidad {
  width: 10%;
  border-radius: 0.3rem;
}

.barra-busqueda {
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra-busqueda nav button {
  margin: 0rem 1.3rem;
  background-color: transparent;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}

.barra-busqueda nav button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
  color: #f5cc27;
}

.barra-busqueda input {
  margin-right: 1rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 0.25rem;
  padding: 0.2rem;
}

.barra-busqueda .btn-busqueda {
  padding: 0rem 0.5rem;
  font-family: "Quicksand", sans-serif;
}

.barra-busqueda .btn-busqueda ::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#carrito-texto {
  background-color: black;
  padding: 1rem 0rem;
}

#carrito-texto h2 {
  margin: 0px;
}

/* MODAL CARRITO */
#carritoModal h5 {
  font-size: medium;
}

#carritoModal img {
  width: 10%;
}

.modal-body {
  background-color: #dfdfdf;
}

.modal-dialog {
  max-width: 600px;
}

.modal-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7cd25), to(#f5a327));
  background-image: linear-gradient(to right, #f7cd25, #f5a327);
}

.modal-footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7cd25), to(#f5a327));
  background-image: linear-gradient(to right, #f7cd25, #f5a327);
}

.modal-footer .btn-secondary {
  background-color: #2c2c2c;
  border-color: #2c2c2c;
}

.modal-footer .btn-primary {
  background-color: black;
  border-color: black;
  color: white;
}

.producto-carrito {
  padding-bottom: 0.5rem;
  border-color: black;
  border-style: groove;
  border-width: 0px 0px 1px 0px;
}
/*# sourceMappingURL=main.css.map */